.header {
    background-color: black;
    height: 60px;
    max-width: auto;
    width: 800px;
    max-height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;


}

.a {
    height: 10px;
    width: 100px;
    font-size: large;
    color: rgb(154, 140, 140);
    font-weight: normal;
    margin-top: 15px;

}

.b {

    height: 10px;
    width: 100px;
    font-size: large;
    color: white;
    font-weight: normal;
    margin-top: 15px;

}